/*Reset CSS*/
*{
  margin: 0px;
  padding: 0px;
  font-family: Avenir, sans-serif;
  scroll-behavior: smooth;
}
.menu{
  display: none;
}

body:not(nav){
  background: #80aaff;
}

nav{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin: 0 auto;
  background-color: white;
  position: sticky;
  top: 0px;
}
nav img{
  width:  50px;
}

nav ul{
  width: 80%;
  list-style-type: none;
  display: flex;
  justify-content: space-around;
  flex-direction: row;
}

nav ul li{
  text-align: center;
}

nav a{
  display: block;
  text-decoration: none;
  color: black;
  padding: 10px;
}

nav a:hover{
  background: lightblue;
  color: orange;
}

.sous{
  position: absolute;
  width: 14.25%;
  display: none;
  box-shadow: 0px 1px 2px #CCC;
  background-color: white;
  z-index: 1000;
}

nav > ul li:hover .sous{
  display: flex;
  flex-direction: column;
}
.sous li{
  float: none;
  width: 100%;
  text-align: left;
}
.sous a{
  padding: 10px;
  border-bottom: none;
}
.sous a:hover{
  border-bottom: none;
  background-color: RGBa(200,200,200,0.1);
}
.deroulant > a::after{
  font-size: 12px;
}


