@media screen and (max-width: 1000px) {
    nav{
      display: none;
    }

    .menu img{
      width:100%;
      height: 100%;
    }

    .menu{
      display: block;
      position: absolute;
      left: 15px;
      top: 15px;
      width: 40px;
      height: 40px;
      padding: 10px;
    }
    
    .menu:hover{
      background: red;
    }
    .container-responsive .pays2{
      flex-direction: column;
    }

    .container-responsive .pays{
      flex-direction: column;
    }
    
    .container-responsive .pays2 .text{
      margin-right: 0px;
    }
    .text{
      margin-top: 50px;
      margin-bottom: 100px;
    }
    .container-responsive .pays .media{
      margin-right: 0px;
    }
  }