@media screen and (max-width: 1000px) {
    nav{
      display: none;
    }
    .menu{
      display: flex;
      justify-content: center;
      width: 8%;
  
    }
    .menu img{
      margin: 20px 0px 20px 0px ;
      width: 50px;
    }
    .menu:hover{
      background: red;
    }
    .container-responsive .pays2{
      flex-direction: column;
    }

    .container-responsive .pays{
      flex-direction: column;
    }
    
    .container-responsive .pays2 .text{
      margin-right: 0px;
    }
    .text{
      margin-top: 50px;
      margin-bottom: 100px;
    }
    .container-responsive .pays .media{
      margin-right: 0px;
    }
  }