@media screen and (max-width: 1000px) {
    nav{
      display: none;
    }
    .menu{
      display: flex;
      justify-content: center;
      width: 8%;
  
    }
    .menu img{
      margin: 20px 0px 20px 0px ;
      width: 50px;
    }
    .menu:hover{
      background: blue;
    }
  }